.instructions {
    width: 315px;
    height: auto;
    background-color: #d5bdff;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    box-shadow: 9px 9px 0px #ABABAB;
    border: 2px solid #ababab;
}

@media all and (orientation:portrait) {
    .instructions {
        margin-left: auto;
        margin-right: auto;
    }
}