.demos {
    width: 200px;
    height: 280px;
    background-color: #FADF96;
    border: 2px solid #ababab;
    text-align: center;
    padding-top: 10px;
    color: black;
    box-shadow: 9px 9px 0px #ABABAB;
}

button {
    height: 40px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media all and (orientation:portrait) {
    .demos {
        margin-left: auto;
        margin-right: auto;
    }
}